/* Genera á öllum síðum*/
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input[type=submit],
button{
    padding: 10px;
    background-color: pink;
    width: 100px;
}

.wrapper{
    max-width: 1200px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}
.all-forms{
    justify-content: center;
}
.all-forms form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5%;
    gap: 1rem;
    padding: 2rem;
}



/* Nav bar allstaðar*/
.navbar img{
    max-width: 30px;
    width: 30px;
}

.navbar{
    display: flex;
    background-color: aqua;
    padding: 1rem;
    justify-content: space-between;

    position: sticky;
    top:0;
}



/* Buttons allstaðar*/



