<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task System</title>
</head>
<body>
<form action="/home" method="get">
    <label for="priority">Priority:</label>
    <select id="priority" name="priority">
        <option value="">All</option>
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select>

    <label for="status">Status:</label>
    <select id="status" name="status">
        <option value="">All</option>
        <option value="PENDING">Pending</option>
        <option value="COMPLETED">Completed</option>
        <option value="IN_PROGRESS">In progress</option>
        <option value="CANCELLED">Cancelled</option>
    </select>

    <label for="startDate">Due Date (From):</label>
    <input type="date" id="startDate" name="startDate">

    <label for="endDate">Due Date (To):</label>
    <input type="date" id="endDate" name="endDate">

    <button type="submit">Filter</button>
</form>
<div th:switch="${tasks}">
    <h2 th:case="null">No Tasks yet!</h2>
    <div th:case="*">
        <h2>Notes</h2>
        <table>
            <thead>
            <tr>
                <th>Task</th>
                <th>Note</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Duedate</th>
                <th>Delete/edit</th>
                <th>Add to favorites</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskNote}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.dueDate}"></td>
                <td>
                    <a th:href="@{/home/delete/{id}(id=${task.id})}">Delete</a>
                    <a th:href="@{/home/editTask/{id}(id=${task.id})}">Edit</a>

                </td>
                <td>
                    <input type="checkbox" id="favorites" name="favorites" value="true">

                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/home/newTask">Add a new task</a></p>

</div>

</body>
</html>