<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Select Profile Picture</title>
  <link rel="stylesheet" th:href="@{/css/mutual.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h2>Select a Profile Picture</h2>
<form action="/profile-pic" method="post">
  <div>
    <label>
      <input type="radio" name="profilePic" value="profilePics/pic1.png"
             th:checked="${loggedInUser.profilePicture == 'profilePics/pic1.png'}"/>
      <img src="/profilePics/pic1.png" alt="Profile Picture 1" width="100" height="100"/>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="profilePic" value="profilePics/pic2.png"
             th:checked="${loggedInUser.profilePicture == 'profilePics/pic2.png'}"/>
      <img src="/profilePics/pic2.png" alt="Profile Picture 2" width="100" height="100"/>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="profilePic" value="profilePics/pic3.png"
             th:checked="${loggedInUser.profilePicture == 'profilePics/pic3.png'}"/>
      <img src="/profilePics/pic3.png" alt="Profile Picture 3" width="100" height="100"/>
    </label>
  </div>
  <button type="submit">Save</button>
</form>
</body>
</html>
