<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<h1>Hér mun koma síða fyrir users að manage accounti, breyta username, password, profilepic etc. </h1>

<h3>Edit user information</h3>
<p>Edit username</p>
<input type="text" placeholder="New username"/>

<p>Edit email</p>
<input type="text" placeholder="new email"/>
<p>Edit password</p>
<input type="text" placeholder="new password"/>

<p>New profile picture</p>
<a href="/profile-pic-selection">
    <button type="button">Choose Profile Picture</button>
</a>
<br>

<button type="button" >Breyta notenda</button>


<p>þegar takki er valin, gera ertu alveg viss dialog, svo nota delete user úr usercontroller, og redirecta á loginpage</p>
<button type="button">Delete account</button>






</body>
</html>
