<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<h1>Hér mun koma síða fyrir users að manage acconti, breyta username, password, profilepic etc. </h1>

<h3>Edit user information</h3>

    <a href="/update-username">
    <button type="button">Edit Username</button>
    </a>



<p>Edit email</p>
<input type="text" placeholder="new email"/>
<p>Edit password</p>
<input type="text" placeholder="new password"/>

<p>New profile picture</p>
<input type="file" name="myInput" accept="image/*">
<br>

<button type="button" >Breyta notenda</button>


<p>þegar takki er valin, gera ertu alveg viss dialog, svo nota delete user úr usercontroller, og redirecta á loginpage</p>
<button type="button">Delete account</button>





</body>
</html>

