<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>signup</title>
</head>
<body>

<h2>Sign up</h2>

<form action="#" th:action="@{/signup}" th:object="${user}" method="post">

  <div>
    <label for ="username">username: </label>
    <input type="text" id="username" th:field="*{username}" required>
  </div>
  <div>
    <label >email: </label>
    <input type="text" id="email" th:field="*{gmail}" required>

  </div>

  <div>
    <label >password: </label>
    <input type="text" id="password" th:field="*{password}" required>

  </div>

  <input type="submit" value="Signup">
  <p><a href="/">Til baka</a></p>

</form>



</body>
</html>