<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <p>Sign up page</p>
    <form action="#" th:action="@{/}" th:object="${user}" method="post">

        <div>
            <label >username: </label>
            <input type="text"required>
        </div>
        <div>
            <label >email: </label>
            <input type="text" required>
        </div>

        <div>
            <label >password: </label>
            <input type="text" required>
        </div>

        <input type="submit" value="Signup">

    </form>

</body>
</html>