<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mutual.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="wrapper">
<h2>Edit Gmail</h2>

    <div class="all-forms">
        <form th:action="@{/update-password}" method="post">
            <div>
                <label for="password">New Password :</label>
                <input type="text" id="password" name="newPassword" required/>
            </div>

            <input type="submit" value="Update Password"/>
        </form>
    </div>


<!-- Back to Home button -->
<p>
    <a href="/">
        <button type="button">Back to Home</button>
    </a>
</p>
</div>

</body>
</html>