<!-- update-username.html -->
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Username</title>
  <link rel="stylesheet" th:href="@{/css/mutual.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="wrapper">
<h2>Update Username</h2>

  <div class="all-forms">
    <form th:action="@{/update-username}" method="post">
      <div>
        <label for="username">New Username:</label>
        <input type="text" id="username" name="newUsername" required/>
      </div>

      <input type="submit" value="Update Username"/>
    </form>

  </div>

<!-- Back to Home button -->
<p>
  <a href="/">
    <button type="button">Back to Home</button>
  </a>
</p>
</div>

</body>
</html>
